/* CSS reset
   http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* reset結束 */

body{
    width: 1920px;
    height: 3006px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
}

/* P1 */
.container{
    padding-top: 40px;
    height: 1234px;
    width: 1200px;
}
h1{
    width: 274px;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    font: normal normal normal 80px/95px SF Pro Text;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin-bottom: 24px;
}
hr{
    border: 2px solid #000000;
    opacity: 1;
    margin-bottom: 46.4px;
}
img{
    margin-bottom: 48px;
    height: 324px;
    width: 324px;
    background: transparent url('img/photo.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.titleContainer{
    height: 48px;
    display: flex;
    align-items: center;
}
h2{
    margin-right: 16px;
    height: 48px;
    text-align: left;
    font: normal normal normal 32px/48px SF Pro Text;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}
h3{
    text-align: left;
    font: normal normal 600 24px/36px SF Pro Text;
    letter-spacing: 0px;
    color: #A00404;
    opacity: 1;
}
.titleHr{
    margin-top: 6.4px;
    margin-bottom: 14.4px;
    border: 1px solid #000000;
    opacity: 1;
}
p{
    text-align: left;
    font: normal normal 300 24px/36px PingFang TC;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin-bottom: 24px;
}
.endP{
    margin-bottom: 64px;
}
.eduP{
    margin-bottom: 16px;
}
/* P1結束 */

/* P2 */
.container2{
    padding-top: 24px;
    display: flex;
    width: 100%;
    height: 436px;
    background: #415165 0% 0% no-repeat padding-box;
    opacity: 1;
    justify-content: center;
}
.container2 h2{
    color: #FFFFFF;
}
.container2 h3{
    color: #FFFFFF;
}
